---
import Layout from "../layouts/Layout.astro"
import Hero from '../components/Hero.astro';
import ProcessSteps from '../components/ProcessSteps.astro';
import CountryCarousel from '../components/CountryCarousel.jsx';
import WhatIsSection from '../components/WhatIsSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import SocialMediaSection from '../components/SocialMediaSection.jsx';
import CTASection from '../components/CTASection.astro';
import ContactSection from '../components/ContactSection.jsx';
import Footer from '../components/Footer.jsx';
---

<Layout>
    <main class="flex-1">
      <Hero />
      <ProcessSteps />
      <CountryCarousel client:load />
      <WhatIsSection />
      <ServicesSection />
      <SocialMediaSection />
      <CTASection />
      <ContactSection />
    </main>
    <Footer />
</Layout>
