---
import Layout from "../layouts/Layout.astro"
import Hero from '../components/Hero.astro';
import ProcessSteps from '../components/ProcessSteps.astro';
import CountryCarousel from '../components/CountryCarousel.jsx';
import WhatIsSection from '../components/WhatIsSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import SocialMediaSection from '../components/SocialMediaSection.astro';
import ContactSection from '../components/ContactSection.jsx';
---

<Layout>
    <main class="flex-1">
      <Hero />
      <ServicesSection />
      <CountryCarousel client:load />
      <ProcessSteps />
      <!-- <WhatIsSection /> -->
      <SocialMediaSection />
      <ContactSection />
    </main>

</Layout>
