---
// /src/pages/workingholiday.astro
import Layout from '../layouts/Layout.astro'
import WorkingHolidaySection from '../components/WorkingHolidaySection.jsx' // si usás React
---

<Layout title="Visa Working Holiday">
  <section class="flex-1">
    <WorkingHolidaySection />
  </section>
</Layout>